{% extends 'layout.html.j2' %}

{%- macro format_authors(item) -%}
    {%- if item.authors|length == 0 -%}
        <span class="author invalid">(no author)</span>
    {%- elif item.authors|length == 1 -%}
        {%- set a = item.authors[0] -%}
        <span class="author author-one">{{ a.lastname }}, {{ a.firstname }}</span>
    {%- elif item.authors|length == 2 -%}
        {%- set a1 = item.authors[0] -%}
        {%- set a2 = item.authors[1] -%}
        <span class="author author-two">{{ a1.lastname }}, {{ a1.firstname }} and {{ a2.lastname }}, {{ a2.firstname }}</span>
    {%- elif item.authors|length == 3 -%}
        {%- set a1 = item.authors[0] -%}
        {%- set a2 = item.authors[1] -%}
        {%- set a3 = item.authors[2] -%}
        <span class="author author-two">{{ a1.lastname }}, {{ a1.firstname }}; {{ a2.lastname }}, {{ a2.firstname }} and {{ a3.lastname }}, {{ a3.firstname }}</span>
    {%- else -%}
        {%- set a = item.authors[0] -%}
        <span class="author author-more">{{ a.lastname }}, {{ a.firstname }} et al.</span>
    {%- endif -%}
{%- endmacro -%}

{% macro type_tag(item) %}
    <span class="badge badge-primary">{{ item.type|decamelize }}</span>
{% endmacro %}

{% macro attachment_tags(item) %}
    {%- for a in item.attachments -%}<span class="badge badge-success">{{ a.type }}</span> {% endfor -%}
{% endmacro %}

{% macro tags(item) %}
    {%- for tag in item.tags -%}<span class="badge badge-secondary">{{ tag }}</span> {% endfor -%}
{% endmacro %}

{% macro format_item(item) %}
    {{ format_authors(item) }}: <span class="title">{{ item.title }}</span> (<span class="date">{{ item.date }}</span>)<br>{{ type_tag(item) }}{{ attachment_tags(item) }}{{ tags(item) }}
{% endmacro %}

{% block content %}
    <h1>Items</h1>
    <ul>
    {% for item in items %}
        <li class="library-item">{{ format_item(item) }}</li>
    {% endfor %}
    </ul>
{% endblock %}
